Options -Indexes

### Add Access-Control-Allow-Origin header for domain and all subdomains, ports, and protocols
<IfModule mod_headers.c>
  SetEnvIf Origin ^(https?://(?:.+\.)?nancolin\.nl(?::\d{1,5})?)$ CORS_ALLOW_ORIGIN=$1
  Header append Access-Control-Allow-Origin %{CORS_ALLOW_ORIGIN}e env=CORS_ALLOW_ORIGIN
  Header merge Vary "Origin"
</IfModule>

RewriteEngine on

### Redirect /projects to subdomain
RewriteCond %{HTTP_HOST} ^nancolin\.nl$ [OR]
RewriteCond %{HTTP_HOST} ^www\.nancolin\.nl$
RewriteRule ^projects\/?(.*)$ "http\:\/\/projects\.nancolin\.nl\/$1" [R=301,L]

### Remove preceeding www
RewriteCond %{HTTP_HOST} ^www\.nancolin\.nl$
RewriteRule ^(.*)$ "http\:\/\/nancolin\.nl\/$1" [R=301,L]

### Redirect all non-existant pages to index.html
<IfModule mod_rewrite.c>
  RewriteEngine on

  # Don't redirect specific file types
  RewriteCond %{REQUEST_URI} \.(jpe?g|png|gif|svg|css|js|ico|map|txt)$ [NC,OR]

  # Don't redirect my-<view>.html pattern for proper 404 pages
  RewriteCond %{REQUEST_URI} nanco-.+\.html$ [NC,OR]

  # Don't redirect any files which exist
  RewriteCond %{REQUEST_FILENAME} -s [OR]
  RewriteCond %{REQUEST_FILENAME} -l [OR]
  RewriteCond %{REQUEST_FILENAME} -d

  # If matches any exceptions, don't redirect
  RewriteRule ^.*$ - [NC,L]

  # If doesn't match any exceptions, redirect to `/index.html`
  RewriteRule ^(.*) /index.html [NC,L]
</IfModule>

### Maintenance Redirection
<IfModule mod_rewrite.c>
  RewriteEngine on

  ### Comment out the following conditional to enable redirection
  RewriteCond %{REQUEST_URI} ^$a

  RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1$
  RewriteCond %{REMOTE_ADDR} !^174\.118\.194\.162$
  RewriteCond %{REQUEST_URI} !/maintenance.html?$ [NC]
  RewriteCond %{REQUEST_URI} !\.(jpe?g|png|gif|svg|css|js|ico|map|txt)$ [NC]
  RewriteCond %{REQUEST_FILENAME} !(styles|images).+$ [NC]
  RewriteRule ^(.*)$  /maintenance.html? [R=307,L]
</IfModule>

### Enable GZIP compression
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml
</IfModule>

# Leverage browser caching
<IfModule mod_headers.c>
  <FilesMatch "\.(ico|pdf|jpe?g|png|gif|svg|flv|swf)$">
    # 30 days
    Header set Cache-Control "max-age=2592000, public"
  </FilesMatch>
  <FilesMatch "\.(css)$">
    # 7 days
    Header set Cache-Control "max-age=604800, public"
  </FilesMatch>
  <FilesMatch "\.(xml|txt)$">
    # 2.5 days
    Header set Cache-Control "max-age=216000, public, must-revalidate"
  </FilesMatch>
  <FilesMatch "\.(js)$">
    # 1 day
    Header set Cache-Control "max-age=86400, private"
  </FilesMatch>
  <FilesMatch "\.(html|htm|php)$">
    # 0 days
    Header set Cache-Control "max-age=0, private"
  </FilesMatch>
</IfModule>
